<h1> <%= @user.username %> has been on the following holidays: </h1>
<br>

<% @user.holidays.each do  |c|  %>
 <a href="/holidays/<%=c.id%>"> 
 <br> <%=   c.name  %> </a>	
      <%      end  %>

<h2> These are all the countries <%= @user.username %> has seen so far: </h2>
<% @name_array.uniq.each do  |c|  %>
 <br> 
 <%=   c  %> 	
 <%   end  %>

 <h2> These are all the Cities <%= @user.username %> has seen so far: </h2>
<% @city_array.uniq.each do  |c|  %>
 <br> 
 <%=   c  %> 	
 <%   end  %>


<br>
<button type="button"><a href="/holidays">See all holidays </a></button>
<br>
<button type="button"><a href="/logout"> Log Out</a></button> 
<br>
<button type="button"><a href="/holidays/new">Create a new Holiday</a></button>