<p> <%= @logged_in.username %> is logged in. </p>
<br>
<br>
<%= @holiday.name%> <p>On this holiday, <%= @user.username %> went to:</p>



<% Country.all.each do |c| %>
<%   @holiday.country_ids.each do |d|  %>
<%     if c.id == d    %>
<br>
 <a href="/holidays/country/<%=c.id%>/edit">  <%= c.name  %>    </a> 
       <% end  %>  
   <% end  %>
 <% end   %>


<br>
<br>
<form method="post" action="/holidays/<%=@holiday.id%>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Holiday" id="submit" />
</form>
<br>



<a href="/holidays/new">New Holiday!</a>
<br>
<a href="/holidays">See all holidays !</a>
<br>
<br>
<a href="/holidays/<%= @holiday.id %>/delete"> Delete this holiday.</a>
<br>
<br>
<a href="/logout">Log Out</a>