<p> <%= @logged_in.username %> is logged in. </p>
<br>
<br>
<%= @holiday.name%> <p>On this holiday, <%= @user.username %> went to:</p>



<% Country.all.each do |c| %>
<%   @holiday.country_ids.each do |d|  %>
<%     if c.id == d    %>
<br>
 <a href="/holidays/country/<%=c.id%>/edit">  <%= c.name  %>    </a> 


       <% end  %>  
   <% end  %>
 <% end   %>

<p> These were the notes taken: </p>
<% if !@holiday.holiday_notes.nil? %>
<%= @holiday.holiday_notes %> 
<br>
<% end   %>

<br>
<br>
<form method="post" action="/holidays/<%=@holiday.id%>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Holiday" id="submit" />
</form>
<br>



<button type="button"><a href="/holidays/<%=@holiday.id%>/edit">Edit this holiday!</a></button>
<br>
<button type="button"><a href="/holidays/new">New Holiday!</a></button>
<button type="button"><a href="/">Go Back to homepage</a></button>
<br>
<button type="button"><a href="/holidays">See all holidays !</a></button>
<button type="button">
<a href="/holidays/<%= @holiday.id %>/delete"> Delete this holiday.</a>
</button> 
<br>
<button type="button"><a href="/holidays/user">See all your own holidays !</a>
</button> 
<br>
<button type="button"><a href="/logout">Log Out</a></button> 
<br>